/* disable webpack warning overlay */
iframe {
  display: none;
}

/* disable text to be dragged */
*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;
  margin: 0;

  height: 100vh;
}

/* content */
#content {
  height: 600px;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;

  padding: 30px 0px;

  width: 800px;
}

.header .logo {
  font-weight: bold;
  font-size: 1.5em;

  width: 80px;
}

.header .nav {
  display: flex;
  align-items: center;
  gap: 30px;

  font-size: 1.2em;
}

.header .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 35px;
  width: 80px;

  border-radius: 5px;

  cursor: pointer;
}

/* nav button color change by tab selected */
body:has(.home) .nav-button[data-tab="home"] {
  background-color: #ff8b13;
  color: white;

  transition: all 0.2s;
}

body:has(.menu) .nav-button[data-tab="menu"] {
  background-color: #ff8b13;
  color: white;

  transition: all 0.2s;
}

body:has(.contact) .nav-button[data-tab="contact"] {
  background-color: #ff8b13;
  color: white;

  transition: all 0.2s;
}

/* home tab */
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  height: 100%;
}

.home img:nth-child(1) {
  height: 600px;

  grid-row: 1 / span 2;
  grid-column: 1;
}

.home img:nth-child(2) {
  width: 400px;

  grid-row: 1;
  grid-column: 2;
}

.home img:nth-child(3) {
  width: 400px;

  grid-row: 2;
  grid-column: 2;
  align-self: flex-end;
}

/* menu tab */
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;

  width: 800px;
}

.menu img {
  width: 400px;
}

.menu img:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.menu img:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}

.menu p:nth-child(1) {
  grid-column: 1;
  grid-row: 2;
}

.menu p:nth-child(2) {
  grid-column: 2;
  grid-row: 1; 
}

/* contact tab */
.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact img {
  width: 800px;
}

.contact button {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;

  border: none;
}

.contact button:hover {
  cursor: pointer;
  background-color: #ff8b13;
  color: white;
}